{
"btcd" : [
	{
		"url" : "127.0.0.1:4199",
		"auth" : "trapmine",
		"pass" : "REPLACE_WITH_RPCAUTH_PASSWORD",
		"notify" : false
	}
],
"btcaddress" : "REPLACE_WITH_A_TRAP_ADDRESS",
"btcsig" : "/TRAP/",
"serverurl" : [ "0.0.0.0:3333" ],
"mindiff" : 1,
"startdiff" : 1,
"maxdiff" : 1,
"logdir" : "/var/lib/trap-ckpool/logs"
}
